<!DOCTYPE html>
<link rel="stylesheet" href="cardlist.css">

<title>Card list</title>

<script>
    function toggle() {
        checkboxes = document.getElementsByName('card');
        var target = ! checkboxes[0].checked;
        for(var i=0; i < checkboxes.length; i++) {
            checkboxes[i].checked = target;
        }
    }
</script>
#* Ugly way of preventing superfluous whitespace in url
*##macro(filterKeys $filters)#*
    *##foreach($filter in $filters)#*
        *#&amp;filter=$escape_html($filter).lower()#*
    *##end#*
*##end

#macro(sortingKey $key)#*
    *#$key#if($key == $sorting_key)asc#end
#end

#foreach($card in $cards)
<form id="$escape_html($card.filename)_inc" action="" method="post">
    <input type="hidden" name="filename" value="$escape_html($card.filename)">
    <input type="hidden" name="action" value="increment_stock">
    #if($sorting_key)
        <input type="hidden" name="sort" value="$sorting_key">
    #end
    #if($filter_keys)
        <input type="hidden" name="filter" value="$filter_keys">
    #end
</form>
<form id="$escape_html($card.filename)_dec" action="" method="post">
    <input type="hidden" name="filename" value="$escape_html($card.filename)">
    <input type="hidden" name="action" value="decrement_stock">
    #if($sorting_key)
        <input type="hidden" name="sort" value="$sorting_key">
    #end
    #if($filter_keys)
        <input type="hidden" name="filter" value="$filter_keys">
    #end
</form>
#end

<form action="show" method="get" id="cardlist">
    <table>
        <tr>
            <th></th>
            <th><a href="../cards/?sort=#sortingKey("title")#filterKeys($filter_keys)">Title</a></th>
            <th><a href="../cards/?sort=#sortingKey("filename")#filterKeys($filter_keys)" >Filename</a></th>
            <th style="text-align: center;"><a href="../cards/?sort=#sortingKey("cp")#filterKeys($filter_keys)">CP</a></th>
            <th><a href="../cards/?sort=#sortingKey("copies")#filterKeys($filter_keys)">Copies owned</a></th>
            <th><a href="../cards/?sort=#sortingKey("description")#filterKeys($filter_keys)">Description</a></th>
            <th><a href="../cards/?sort=#sortingKey("tags")#filterKeys($filter_keys)">Tags</a></th>
        </tr>

    #foreach($card in $cards)
        <tr>
            <td>
                <button type="button" onclick="location.href='creator?filename=$escape_html($card.filename)'">Edit</button>
                <input type="checkbox" name="card" value="$escape_html($card.filename)" id="$escape_html($card.filename)_check">
            </td>
            <td><label for="$escape_html($card.filename)_check">$escape_html($card.title)</label></td>
            <td>$escape_html($card.filename)</td>
            #if($card.cp)
                <td style="text-align: right;">$escape_html($card.cp) CP</td>
            #else
                <td style="text-align: right;">0 CP</td>
            #end
            <td style="text-align: center;">
                <button type="button" class="small" onclick="document.getElementById('$escape_html($card.filename)_dec').submit()">-</button>
                $escape_html($card.copies_owned)
                <button type="button" class="small" onclick="document.getElementById('$escape_html($card.filename)_inc').submit()">+</button>
            </td>
            <td>$escape_html($card.description.split("\n").get(0).split(". ").get(0))</td>
            <td>
                #if($sorting_key == "tags")
                    #set($tags = $card.get_sorted_tags())
                #else
                    #set($tags = $card.tags)
                #end
                #set($first = true)#*
                *##foreach($tag in $tags)#*
                    *##if($filter_keys.__contains__($tag.lower()))#*
                        *##if($first == false)#*
                            *#, #*
                        *##end#*
                        *#$escape_html($tag).lower()#*
                        *##set($first = false)#*
                    *##end#*
                *##end#*
                *##foreach($tag in $tags)#*
                    *##if(not $filter_keys.__contains__($tag.lower()))#*
                        *##if($first == false)#*
                            *#, #*
                        *##end#*
                        *#<a href="../cards/?sort=${sorting_key}#filterKeys($filter_keys)&amp;filter=$escape_html($tag).lower()">$escape_html($tag).lower()</a>#*
                        *##set($first = false)#*
                    *##end#*
                *##end
            </td>
        </tr>
    #end
        <tr>
            <td><button type="button" onclick="location.href='creator'">New</button></td>
        </tr>
        
        <tr>
            <td></td>
            <td>Total:</td>
            <td>N/A</td>
            <td style="text-align: right;">$escape_html($sum_cp) CP</td>
            <td style="text-align: center;">$escape_html($sum_copies)</td>
            <td>N/A</td>
            #if($filter_keys)
                <td>
                    #foreach($filter in $filter_keys)
                        $filter#*
                        *##if($foreach.hasNext)#*
                        *#, #*
                        *##end
                    #end
                    <br>
                    <a href="../cards/?sort=${sorting_key}&amp;filter=">(remove filter)</a>
                </td>
            #end
        </tr>
            
        <tr>
            <td></td>
            <td><br>
                <button type="button" onclick="toggle();">Toggle all</button>
                <input type="submit" value="View selected">
            </td>
        </tr>
    </table>
</form>
