* {
    margin: 0; padding: 0; border: 0;
}

@page {
    size: A4;
}
@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin-top: 0.75cm;
        margin-left: 1.5cm;
        -webkit-print-color-adjust:exact;
    }
    /*manual alignment ftw*/

    article:nth-child(9n) {
        margin-bottom: 1.47cm;
    }

}
:root {
    font-family: sans-serif;
    font-size: 3mm;
    font-weight: 500;
}


article {
    margin: 0.1mm 0.1mm;
    float: left;
    width: 5.9cm;
    height: 9.5cm;
    padding: 1mm 1mm;

    display: grid;
    grid-template-rows: 24px 110px auto;
    grid-template-columns: 24px 1fr 1fr 1fr 1fr 24px;
    grid-template-areas:
            "emblem header header header header cost"
            "figure figure figure effects effects effects"
            "info info info info info info";

    border-radius: 0;
    grid-gap: 1mm 1mm;
    border-style: solid;
    border-width: 1.5mm;
    border-color: var(--color-border);
    background-color: var(--color-card-standard);
    cursor: pointer;

    --color-card-standard: #DEDEDE;
    --color-card-free: #86C116;
    --color-card-duration: #F29D32;
    --color-card-stance: #DBC997;
    --color-card-item: #FDE65A;
    --color-card-special: #6b96db;

    --color-border: #292A30;
    --color-card-bg: var(--color-card-standard);
    --color-main: #292A30;
    --color-main-bg: #FEFEFE;
    --color-header-bg: #E1E7F2;
    --color-header: #292A30;
    --color-figure: #424242;
    --color-figure-text:#FEFEFE;
}

article.duration {
    background-color: var(--color-card-duration);
}

article.free {
    background-color: var(--color-card-free);
}

article.stance {
    background-color: var(--color-card-stance);
}

article.item {
    background-color: var(--color-card-item);
}

article.special {
    background-color: var(--color-card-special);
}

/*
article.item {
    grid-template-rows: 2em 36mm 2.5em auto;
    grid-template-areas:
            "header"
            "figure"
            "info";
}
*/

article >* {
    color: var(--color-main);
    background-color: var(--color-main-bg);
    text-align: center;
    line-height: 1.4em;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-border);
}

article .title {
    grid-area: header;
    grid-column-start: emblem;
    grid-column-end: cost;
    background-color: var(--color-header-bg);
    color: var(--color-header);
    padding-top: 1mm;
}

article h1 {
    align-self: center;
    font-size: 1.2em;
    line-height: 1.1em;
    font-weight: 600;
}

article.price > .title {
    grid-column-end: header;
}

article.emblem > .title {
    grid-column-start: header;
}

article .cp,
article .gp {
    grid-area: cost;
    max-height: 100%;
    max-width: 100%;
    color: var(--color-figure-text);
    background-color: var(--color-header-bg);
}

article .cp.text {
    font-size:0.6em;
    line-height:1em;
    font-weight:bold;
    align-self: center;
    border:transparent;
    background-color:transparent;
}

article .emblem {
    grid-area: emblem;
    background-color: var(--color-header-bg);
}

article div.split {
    margin:2px;
    grid-area: figure;
    overflow: hidden;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 106px 105px;
    border-color: transparent transparent var(--color-card-duration) var(--color-card-standard);
}

article figure {
    grid-area: figure;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position:relative;
}

article figure >* {
    color: var(--color-figure);
    margin:auto auto;
    position:absolute;
    top:0;right:0;left:0;bottom:0;
    height: 100%;
}

article figure img.svg_filter{
    /*causes DPI issues when printing*/
    filter:
            brightness(0)
            invert(1)
            opacity(0.5);
}
article figure .mdi,
article figure .fa,
article figure .material-icons.figure {
    font-size: 20mm;
    line-height: 22mm;
}
article.item figure .mdi,
article.item figure .fa,
article.item figure .material-icons.figure {
    font-size: 38mm;
    line-height: 40mm;
}

article ul {
    grid-area: info;
    list-style-type: none;
    padding: 1mm 0;
}
article.effects ul {
}

article section {
    grid-area: effects;
    padding: 1px 1px;
    display: grid;
    grid-template-columns: 2em 1fr 2em 1fr;
    grid-template-rows: 2em [cost]minmax(2em, min-content) repeat(auto-fit, 2em);
    grid-row-gap: 1px;
    justify-content: center;
    /*overflow: hidden;*/
}
article section >* {
    align-self: center;
}
article section img {
    max-width: 90%;
    max-height: 90%;
    padding: 5% 5%;
}
article section .list {
    display: flex;
    flex-direction: column;
}
article section .listelem {
    flex: none;
    padding: 0 0;
    text-align: center;
    font-size: 0.8em;
    line-height: 1em;
}

article section img.cost {
    grid-area: cost;
    grid-column: 1 / 2;
}
article section div.cost {
    grid-area: cost;
    grid-column: 2 / 5; /* I haven't got the slightest clue why specifying the end is necessary */
}

article section img.wide {
    grid-column: 1 / 2;
}

article section div.wide {
    grid-column: 2 / 5;
}

article section >* small {
    font-size: 0.8em;
    line-height: 0.8em;
}

article section .fa,
article section .mdi,
article section .material-icons.figure {
    font-size: inherit;
    line-height: inherit;
}
article section .costunit small {
    font-size: 0.5em;
}
article section >*:after {
    font-size: 0.5em;
    line-height: 0.8em;
    white-space: pre;
}

article section .power:after { content: "\APOWER";}
article section .cp:after { content: "\A CP "; }
article section .gp:after { content: "\AGold"; }


article main {
    padding: 4px 4px;
    grid-area: info;
    position: relative;
    font-size: 0.8em;
    line-height: 1.05em;
    display: grid;
    grid-template-areas: "top"
    "bottom";
    grid-template-rows: auto min-content;
}

article main >* {
    width: 100%;
    grid-area: top;
    display: flex;
    flex-direction: column;
}

article main >* >* {
    flex: none;
    padding: 0 0;
    padding-bottom: 1px;
    text-align: center;
}

article main .steps {
}
article main .description {
}
article main big{
    padding-top: 0.5mm;
    font-size: 1.65em;
    line-height: 1em;
}

article main .top {
    grid-area: top;
}

article main .bottom {
    grid-area: bottom;
    line-height: 1.1em;
}

article main .discipline {
    padding-top: 1mm;
}

center.message {
    font-size: 1.3em;
    position: absolute;
    bottom:0;
    width: 100%;
}
