* {
    margin: 0; padding: 0; border: 0;
}

@page {
  size: A4;
}
@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin-top: 1.2cm;
        margin-left: 1.2cm;
    }
    /*manual alignment ftw*/
    
    article:nth-child(9n) {
        margin-bottom: 4.55cm;
        margin-bottom: 1.8cm;
        margin-bottom: 2.93cm;
        margin-bottom: 3.5cm;
    }
    
}
:root {
    font-family: sans-serif;
    font-size: 3mm;
    font-weight: 500;
}


article {
    margin: 0.1mm 0.1mm;
    float: left;
    width: 5.6cm;
    height: 8.9cm;

    display: grid;
    grid-template-rows: 2em 105px auto;
    grid-template-areas:
        "header"
        "figure"
        "info";

    border-radius: 2mm;
    grid-gap: 1.5mm 1.5mm;
    border-style: solid;
    border-width: 2mm;
    border-color: var(--color-border);
    background-color: var(--color-card-bg);
    cursor: pointer;
    
    --color-border: #4a4a4a;
    --color-card-bg: #4a4a4a;
    --color-main: #000;
    --color-main-bg: #ddd;
    --color-header-bg: #111;
    --color-header: #ddd;
    --color-figure-bg: #2a2a2a;
    --color-figure: #aaa;
    --color-costbar-bg: #111;
    --color-costbar: #eee;
}

article.effects {
    grid-template-columns: 2em 1fr 1fr 1fr 1fr 2em;
    grid-template-areas:
            "emblem header header header header cost"
            "figure figure figure effects effects effects"
            "info info info info info info";
}

article.item {
    grid-template-rows: 2em 36mm 2.5em auto;
    grid-template-areas:
        "header"
        "figure"
        "info";
}

article >* {
    color: var(--color-main);
    background-color: var(--color-main-bg);
    text-align: center;
    line-height: 1.4em;
    border-radius: 1mm;
}

article h1 {
    grid-area: header;
    grid-column-start: emblem;
    grid-column-end: cost;
    padding: 1mm 0;
    font-size: 1.2em;
    line-height: 1.1em;
    font-weight: 600;
    background-color: var(--color-header-bg);
    color: var(--color-header);
}

article.price > h1 {
    grid-column-end: header;
}

article.emblem > h1 {
    grid-column-start: header;
}

article .cp,
article .gp {
    /*TODO: Align text*/
    grid-area: cost;
    background-image: url(../svg/game-icons/seven-pointed-star.svg?color=888);
}

article .emblem {
    grid-area: emblem;
}

article figure {
    grid-area: figure;
    background: var(--color-figure-bg);
    border-radius: 0;
    overflow: hidden;
    position: relative;
}

article figure >* {
    color: var(--color-figure);
    position: absolute;
    top:0;right:0;left:0;bottom:0;
}
article figure img {
    padding: 1mm 0;
    display: block;
    height: calc(100% - 2mm);
    margin: auto auto;
}
article figure img.svg_filter{
    /*causes DPI issues when printing*/
    filter:
        brightness(0)
        invert(1)
        opacity(0.5);
}
article figure .mdi,
article figure .fa,
article figure .material-icons.figure {
    font-size: 20mm;
    line-height: 22mm;
}
article.item figure .mdi,
article.item figure .fa,
article.item figure .material-icons.figure {
    font-size: 38mm;
    line-height: 40mm;
}

article ul {
    grid-area: info;
    list-style-type: none;
    padding: 1mm 0;
}
article.effects ul {
}

article section {
    grid-area: effects;
    padding: 1px 1px;
    display: grid;
    grid-template-columns: 2em 1fr 2em 1fr;
    grid-template-rows: 2em [cost]minmax(2em, min-content) repeat(auto-fit, 2em);
    grid-row-gap: 1px;
    justify-content: center;
    /*overflow: hidden;*/
}
article section >* {
    align-self: center;
}
article section img {
    max-width: 90%;
    max-height: 90%;
    padding: 5% 5%;
}
article section .list {
    display: flex;
    flex-direction: column;
}
article section .cost {
    grid-area: cost;
    grid-column-start: 2;
    grid-column-end: 5; /* I haven't got the slightest clue why this is necessary */
}

article section img.cost {
    grid-area: cost;
    grid-column-start: 1;
    grid-column-end: 2;

}
article section .listelem {
    flex: none;
    padding: 0.5mm 0;
    text-align: center;
    font-size: 0.8em;
    line-height: 0.8em;
}
article section >* small {
    font-size: 0.8em;
    line-height: 0.8em;
}

article section .fa,
article section .mdi,
article section .material-icons.figure {
    font-size: inherit;
    line-height: inherit;
}
article section .costunit small {
    font-size: 0.5em;
}
article section >*:after {
    font-size: 0.5em;
    line-height: 0.8em;
    white-space: pre;
}

article section .power:after { content: "\APOWER";}
article section .cp:after { content: "\A CP "; }
article section .gp:after { content: "\AGold"; }


article main {
    padding: 1mm 1mm;
    grid-area: info;
    position: relative;
    font-size: 0.8em;
    line-height: 1.2em;
    display: grid;
    grid-template-rows: [top]auto [bottom]min-content;
}

article main >* {
    grid-area: top;
    display: flex;
    flex-direction: column;
}

article main >* >* {
    flex: none;
    padding: 0 0;
    text-align: center;
}

article main .steps {
}
article main .description {
}
article main big{
    padding-top: 0.5mm;
    font-size: 1.65em;
    line-height: 1em;
}

article main .bottom {
    grid-area: bottom;
    line-height: 1.1em;
}

article main .discipline {
    padding-top: 1mm;
}

center.message {
    font-size: 1.3em;
    position: absolute;
    bottom:0;
    width: 100%;
}
