<!DOCTYPE html>
<link rel="stylesheet" href="creator.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="creator.js"></script>

#macro(update_preview)onkeyup="submit_preview(this.form)" onchange="submit_preview(this.form)"#end

<title>Card Creator</title>

<a href="../" style="opacity:0.6;">Return to cardlist</a>

<iframe name="preview"></iframe>

<form id="cardform" action="preview" method="post" target="preview">
    <input type="hidden" name="copies_owned" value="$card.copies_owned">
    <!-- Compatibility -->
    <input type="hidden" name="effects" value="$escape_html($card.effects)">
    <input type="hidden" name="power" value="$escape_html($card.power)">
    <ul>
        <li>
            Title:<br>
            <input type="text" name="title" value="$escape_html($card.title)" #update_preview()>
        </li>
        <li>
            Figure:<br>
            <textarea name="figure" rows="3" #update_preview()>$escape_html($card.figure, False)</textarea>
            Source:
            #if($card.figure_source=="material-icons")
                <input checked type="radio" name="figure_source" value="material-icons" #update_preview()>
            #else
                <input type="radio" name="figure_source" value="material-icons" #update_preview()>
            #end
            <a href="https://material.io/icons/">material-icons</a>
            
            #if($card.figure_source=="mdi")
                <input checked type="radio" name="figure_source" value="mdi" #update_preview()>
            #else
                <input type="radio" name="figure_source" value="mdi" #update_preview()>
            #end
            <a href="https://materialdesignicons.com/">mdi</a>
            
            #if($card.figure_source=="fa")
                <input checked type="radio" name="figure_source" value="fa" #update_preview()>
            #else
                <input type="radio" name="figure_source" value="fa" #update_preview()>
            #end
            <a href="http://fontawesome.io/icons/">fa</a>
            
            #if($card.figure_source=="svg")
                <input checked type="radio" name="figure_source" value="svg" #update_preview()>
            #else
                <input type="radio" name="figure_source" value="svg" #update_preview()>
            #end
            <a href="svg">svg</a>
        </li>
        <li>
            Info:<br>
            <textarea name="steps" rows="5" #update_preview()>$escape_html($card.steps, False)</textarea>
        </li>
        <li>
            Stats:<br>
            <textarea name="stats" rows="5" #update_preview()>$escape_html($card.stats, False)</textarea>
        </li>
        <li>
            Description:<br>
            <textarea name="description" rows="5" #update_preview()>$escape_html($card.description, False)</textarea>
        </li>
        <li>
            Flags/Properties:<br>
            <textarea name="flags" rows="5" #update_preview()>$escape_html($card.flags, False)</textarea>
        </li>
        <li>
            Playing cost:<br>
            <input type="text" name="cost" value="$escape_html($card.cost)" #update_preview()>
        </li>
        <li>
            Worth: CP or Gold<span style="opacity:0.4;">(GP)</span>:<br>
            <input type="text" name="cp" value="$escape_html($card.cp)" placeholder="CP" #update_preview()>
            <input type="text" name="gp" value="$escape_html($card.gp)" placeholder="gold" #update_preview()>
        </li>
        <li>
            Notes:<span style="opacity:0.4;">(Not shown)</span><br>
            <textarea name="notes" rows="10">$escape_html($card.notes, False)</textarea>
        </li>
        <li>
            <br>
            <input type="submit" value="Update preview">
            <a href="../">Return to cardlist</a>
            <br>
            <input type="submit" name="save" value="Save as">
             -> 
             <input type="text"  name="filename" value="$escape_html($card.filename)" placeholder="filename">
            <input type="submit" name="delete" value="Delete">
            
            <br>
        </li>
        <li>
            Tag:
            <input type="text" name="tag" value="$escape_html($card.tag)">
        </li>
    </ul>
</form>
