<!DOCTYPE html>
<link rel="stylesheet" href="creator.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<iframe name="preview"></iframe>

<form action="preview" method="post" target="preview">
    Title:
    <input type="text" name="title"><br>

    Figure:
    <input type="text" name="figure"><br>

    Description:
    <input type="text" name="description"><br>

    Steps:
    <input type="text" name="steps"><br>

    Effects:
    <input type="text" name="effects"><br>

    Cost:
    <input type="text" name="cost"><br>

    Power
    <input type="text" name="power"><br>

    CP:
    <input type="text" name="cp"><br>

    Flags:
    <input type="text" name="flags"><br>

    <br>
    <input type="submit" value="preview">
</form>
